---
---

<button id="dark-mode-toggle" class="bg-highlight dark:bg-primary border-2 border-secondary dark:border-accent rounded-lg w-12 h-12 flex justify-center items-center cursor-pointer mb-2.5 transition-transform duration-300 shadow-md hover:scale-110 hover:rotate-3" title="Toggle dark mode">
  <img src="/images/icons/dark-mode.svg" alt="Dark mode toggle" width="30" height="30" class="w-7 h-7 transition-all duration-300">
</button>
